@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap');

:root {
  --duration: .8s;
  --half-duraiton: calc( var(--duration) / 2 );
  --ease: cubic-bezier(.7, 0, .3, 1);
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: 'DM Sans', sans-serif;
}

img { max-width: 100%; }

// ---------------------

#app {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr;
}

.planet {
  grid-column: 1;
  grid-row: 1 / -1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 1fr 1fr;
  grid-template-areas: 
    "header header header header"
    "x title details y"
    "x planet photos photos";

  > .planet-title {
    display: block;
    grid-area: title;
  }

  > .planet-figure {
    grid-column: 1 / -1;
    grid-row: planet; 
    padding: 0;
    margin: 0 auto;
    position: relative;
    
    img { 
      margin-bottom: -50%;
    }

    &::after {
      content: '';
      position: fixed;
      bottom: 0%;
      top: 0%;
      width: 100%;
      left: 0;
      background: linear-gradient(to top, rgba(#000,.7) 0%, transparent 30%);
      z-index: 2;
    }
  }

  > .planet-details {
    grid-area: details;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.detail {
  font-size: 5vmin;
  width: 3em;
  font-weight: 400;
  display: flex;
  margin-left: .4em;
  flex-shrink: 0;
  align-self: start;

  &:after {
    content: attr(data-postfix); 
  }

  &:before {
    display: block;
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
    opacity: 0.6;
    letter-spacing: 1px;
  }

  &[data-detail="hours"]:before {
    content: 'Hours'
  }

  &[data-detail="gravity"]:before {
    content: 'gravity'
  }
  &[data-detail="tilt"]:before {
    content: 'tilt'
  }
}

h1, h2 {
  margin: 0;
}

/* ---------------------------------- */

.planet {
  visibility: hidden;
  // opacity: 0;
  transition: visibility 0.01s linear var(--duration);

  // > * { transition: opacity var(--duration) var(--ease); }

  &[data-active] {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  
  /* ---------------------------------- */

  .planet-title {
    .word { overflow: hidden; }
    .char { 
      transform: translateY(100%);
      transition: transform var(--duration) var(--ease);
      transition-delay: calc( var(--char-index) * .1s );
    }
  }

  &[data-active] {
    .planet-title .char {
      transform: translateY(0%);
      transition-delay: calc(
        (var(--duration)/2) + 
        (var(--char-index) * .1s)
      );   
    }
  }
  
  /* ---------------------------------- */
  
  .planet-description {
    visibility: hidden;
    opacity: 0;
    transform: translateY(1em);
    transition: 
      transform var(--duration) var(--ease),
      opacity var(--duration) linear, 
      visibility 0.01s linear var(--duration);
  }
  
  
  &[data-active] {
    .planet-description {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      transition-delay: 
        var(--duration), 
        var(--duration),
        0s;
    }
  }
  
  /* ---------------------------------- */

  .planet-details {
    visibility: hidden;
  }

  &[data-active] {
    .planet-details {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      transition-delay: 0s;
    }
  }

  .planet-figure {
    opacity: 0;
    transition: opacity var(--duration) var(--ease);
  }

  &[data-active] {
    .planet-figure {
      opacity: 1;
    }
  }

}

/* ---------------------------------- */

#app { overflow: hidden; }

.planet-nav {
  grid-column: 1;
  grid-row: 2;
  pointer-events: none;
  z-index: 10;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  svg { 
    display: block; 
    width: auto;
    height: auto;
    min-width: 100%;
    max-width: none;
    min-height: 100vh;
    margin-bottom: -50%;
    @media (max-width: 600px) {
      margin-bottom: -55%;
    }
  }

  tspan {
    cursor: pointer;
    fill: #FFF;
    pointer-events: auto;
    opacity: 0;
    transition: opacity var(--duration) linear; 

    &[x] {
      opacity: 0.6;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  svg {
    // border: solid 1px red;
    transform-origin: center center;
    --length: 7;
    --range: 160deg;

    transform: rotate( calc( 
      (var(--active,0) / var(--length))
      * (-1 * var(--range))
      + (var(--range) / 2)
    ));

    transition: transform var(--duration) var(--ease);
  }

  tspan { cursor: pointer; }
}
